.main {
    display: grid;
    grid-template-columns: 670px 640px;
    grid-column-gap: 30px;
    width: auto;
    height: 400px;
    grid-template-rows: 200px 100px 55px;
    color: #151515;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-left: 110px;
    margin-top: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header {
    grid-row: 1 / 2;
    font-weight: 430;
    font-size: 50px;
    line-height: 60px;
}

.header_text {
    margin-top: 0;
    grid-row: 2 / 3;
}

.button {
    grid-row: 3 / 4;
    background-color: #FFA567;
    border: 1px solid #151515;
    border-radius: 100px;
    width: 200px;
}

.img_box {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    margin: 30px -120px auto auto;
    width: 650px;
    height: 350px;
}

.img {
    height: 100%;
    width: 100%;
    border-radius: 170px;
}

.name {
    font-weight: 550;
    font-style: italic;
}